# Java
backend/target/
*.class
*.jar
*.war
*.log

# IntelliJ
.idea/
*.iml

# Visual Studio Code
.vscode/

# Node
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Environment variables
.env
.env.*
!.env.example

# Operating system
.DS_Store
Thumbs.db

# Logs
logs/
*.log